body{
    background-image: url("imagens1/pisoquadra.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
        }
.cabeça {
    background-color: rgb(250, 218, 115);
    padding: 20px;
    text-align: center;
} 
.toponavegador {
    padding: 3px;
    font-size: 30px;
    overflow: hidden; 
    background-color: rgb(223, 169, 223);
    border-left: 6px solid rgb(230, 68, 230);
}
.imagens {
    padding: 20px;
    width: 100% 100%;
}
h1{
    font-style: oblique;
    text-align: center;
    font-size: 50px;
}
h2{
    font-size: 40px;
    padding: 15px;
    color: solid black;
    background-color: rgb(250, 218, 115);
    border: 3px solid rgb(230, 68, 230);
    margin: 20px;
}
p{
    font-size: 30px;
    padding: 3px;
    color: solid black;
    background-color: rgb(180, 180, 180);
    border-left: 5px solid rgb(78, 78, 78);
    margin: 20px;
    float:left
}
#bola{
    padding: 20px;
    width: 100% 100%;
}
